.body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    position: relative;
}
h1{
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
}
     /* NavBar */

nav{
    margin-bottom: 5%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding-right: 15%;
}
.nav-link{
    font-size: 1.25rem;
    font-family: 'Montserrat-Light';
}
.container-fluid{
    padding: 3% 15%;
}
.iphone-img{
    width: 60%;
    /* padding-top: 50px; */
    transform: rotate(25deg);
    margin-left: 185px;
}
#features{
    padding: 3% 15%;
    background-color: #fff;
    position: relative;
    bottom: 135px;
    z-index: 1;
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}
.feature-desc{
    text-align: center;
    padding: 5%;
}
h3{
    white-space: nowrap; 
    font-family: 'Montserrat';
    font-weight: bold;
}
section#features p{
    color: #8f8f8f;
}
section#features h3{
    font-size: x-large;
}
div.feature-desc-3 p{
    padding-left: 20px;
}
.feature-icons{
    color: #ef8172;
    margin-bottom: 10px;
}
.feature-icons:hover{
    color: #ff4c68;
}
#testimonials{
    margin-top: -30px;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.testimonial-img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 30px;
}
.press-logos{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 3% 15%;
}

/* Pricing */
#pricing{
    padding: 3% 10%;
}
.card{
    text-align: center;
    padding-top: 10px;
    width: 375px;
    margin: 0px 10px 0px; 
}
.card-header-1{
    margin-top: 2px;
}
.card-content{
    margin-top: 5px;
}
.card-buttons{
    margin-top: 40px;
}
.card:hover{
    color: darkturquoise;
}

#cta{
    padding: 3% 15%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}
.cta-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    white-space: normal;
}
#footer{
    padding: 3% 15%;
    text-align: center;
    font-size: x-large;
}
.social-media{
    margin-right: 15px;
    padding-bottom: 20px;
}
.social-media:hover{
    color: darkturquoise;
}
@media (max-width: 991px) {
    #title{
        text-align: center;
    }
    .iphone-img{
        transform: rotate(0);
    }
} 
